[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "==3.0.6"
pysimpleguiqt = "==0.35.0"
pyinstaller = "==4.2"

[dev-packages]
pylint = "*"
jedi = "*"

[requires]
python_version = "3.9"
